[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".powerlevel10k"]
	path = .powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh-autosuggestions"]
	path = .zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/Users/cunderw/.tmux/plugins/tpm"]
	path = /Users/cunderw/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
