[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
[submodule ".zsh/zsh-dircolors-nord"]                                                                                    
    path  = .zsh/zsh-dircorlors-nord
    tab  = https://github.com/coltondick/zsh-dircolors-nord.git
